{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>企画作成ページ</title>
    </head>
    <body>
      <a href="{% url 'top' %}">Top</a>
      <h1>企画作成画面</h1>
      <form action = "{% url 'top' %}" method="post">
          {% csrf_token %}
          <p>企画名</p>
          <input type="text" name="name">
          <p>対象</p>
          <select name="target">
              <option value="誰でも">誰でも</option>
              <option value="学生">学生</option>
              <option value="社会人">社会人</option>
          </select>
          <p>人数</p>
          <input type="text" name="person">
          <p>カテゴリー</p>
          <select>
            <option value="運動">運動</option>
            <option value="ディスカッション">ディスカッション</option>
            <option value="心理テスト">心理テスト</option>
            <option value="頭脳ゲーム">頭脳ゲーム</option>
            <option value="テーブルゲーム">テーブルゲーム</option>
            <option value="イラスト">イラスト</option>
            <option value="生活相談">生活相談</option>
            <option value="その他">その他</option>
          </select>
          <p>所要時間</p>
          <input type="text" name="time">
          <p>使用ツール</p>
          <input type="text" name="tools">
          <p>ヘルプ</p>
          <input type="text" name="help">
          <p>詳細</p>
          <input type="text" name="outline">
          <button type="submit">作成</button>
      </form>
    </body>
</html>