{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>企画詳細ページ</title>
    </head>
    <body>
        <h1>企画詳細画面</h1>
        <a href="{% url 'top' %}">Top</a>
        <div>
            <h3>企画名：{{ plan.name }}</h3>
            <small>[{{plan.posted_at}}]</small>
            <p>対象：{{plan.target}}</p>
            <p>人数：{{plan.person}}</p>
            <div>
                概要：{{plan.outline}}
            </div>
            <div>
                カテゴリー：{{plan.category}}
            </div>
        </div>
        <a href="{% url 'like' plan.id %}">
            イイねの数：{{plan.like}}
        </a>
        <br>
        <a href="{% url 'delete' plan.id %}">
            Delete
        </a>
    </body>
</html>