{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>トップページ</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/top.css' %}" />
        <script type="text/javascript" src="{% static 'js/remote_plan.js' %}"></script>
    </head>
    <body>
      <div class="banner">
        <a href="{% url 'top' %}" class="title">リモプロ</a>
      </div>
      {% if request.user.is_authenticated %}
      <div class="authbox">
        <a href="{% url 'logout' %}" class="authmenu">ログアウト</a>
      </div>
      <div class="authbox">
        <p id="username">{{request.user.username}}</p>
      </div>
      {% else %}
      <div class="authbox">
        <a href="{% url 'privacy_check' %}" class="authmenu">新規登録</a>
      </div>
      <div class="authbox">
        <a href="{% url 'login' %}" class="authmenu">ログイン</a>
      </div>
      {% endif %}
      <form action="{% url 'top' %}" method="get" class="searchbox">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索</button>
      </form>
      <a href="{% url 'create' %}" id="create-btn">新規作成</a>
        <br>
      <article>
        <div class="sidemenu">
          <br>
          <h4>【ソート】</h4>
          <div class="sortbtn">
            <a href="{% url 'top' %}?sort=date">投稿日順</a> |
            <a href="{{request.path}}?sort=like_num">イイね順</a>
          </div>
          <br>
          <h4>【絞り込み】</h4>
          <form action="{% url 'top' %}" method="get" class="searchmenu">
            対象：
            <div>
              <input name="select" type="radio" value="" checked>なし
              <input name="select" type="radio" value="誰でも">誰でも
              <input name="select" type="radio" value="学生">学生
              <input name="select" type="radio" value="社会人">社会人
            </div>
            <br>
            カテゴリー：
            <div>
              <select name="searchcategory">
                <option value="" >なし</option>
                <option value="運動" >運動</option>
                <option value="コミュニケーション" >コミュニケーション</option>
                <option value="勉強(小学生向け)" >勉強(小学生向け)</option>
                <option value="勉強(中学生向け)" >勉強(中学生向け)</option>
                <option value="勉強(高校生向け)" >勉強(高校生向け)</option>
                <option value="勉強(大学生向け)" >勉強(大学生向け)</option>
                <option value="学生相談" >学生相談</option>
                <option value="生活相談" >生活相談</option>
                <option value="その他" >その他</option>
              </select>
            </div>
            <button type="submit">絞り込む</button>
          </form>
        </div>
        <div class="mainmenu">
          {% if plans %}
          {% for plan in plans %}
          <div class="planbox">
            <div class="card-header">
              <a href="{% url 'detail' plan.id %}" class="plan-name">{{ plan.name }}</a>
              <div>
                <small class="plan-detail">対象： {{ plan.target }}</small>
                <small class="plan-detail">所要時間： {{ plan.time }}</small>
                <small class="plan-detail">人数： {{ plan.person }}</small>
              </div>
              <div>
                <small class="plan-detail">カテゴリー１： {{ plan.category1 }}</small>
                <small class="plan-detail">カテゴリー２： {{ plan.category2 }}</small>
              </div>
              <div class="like">
                イイね：<span id="like{{plan.id}}">{{plan.like_num}}</span>
                {% if request.user.is_authenticated %}
                  <a onclick="like({{plan.id}});" class="like-btn">
                    <img class="like-image" src="{% static 'img/star.png' %}">
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <p class="emptymessage">企画が見つかりませんでした</p>
          {% endif %}
        </div>
      </article>
      <footer class="footer">
        <a href="{% url 'privacy' %}" class="footlink">利用規約</a>
      </footer>
    </body>
</html>